In [2]:
import kaggle
import pandas as pd

In [3]:
def download_dataset():
    kaggle.api.authenticate()
    kaggle.api.dataset_download_files('berkeleyearth/climate-change-earth-surface-temperature-data/GlobalLandTemperaturesByCountry.csv', path='./kaggle', unzip=True)

def open_files():
    df_global_temperatures_country = pd.read_csv("./kaggle/GlobalLandTemperaturesByCountry.csv")
    return df_global_temperatures_country

try:
    df_country = open_files()
except:
    download_dataset()
    df_country = open_files()

In [4]:
df_country.columns

Index(['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'Country'], dtype='object')

In [12]:
df_country.head()

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
5  1744-04-01               1.530                          4.680   Åland
6  1744-05-01               6.702                          1.789   Åland
7  1744-06-01              11.609                          1.577   Åland
8  1744-07-01              15.342                          1.410   Åland

In [5]:
df_country.isna().sum()

dt                                   0
AverageTemperature               32651
AverageTemperatureUncertainty    31912
Country                              0
dtype: int64

In [6]:
countries = df_country.groupby(['Country', 'dt']).size()

In [7]:
df_country['dt'][df_country['AverageTemperature'].isna()].value_counts()

2013-09-01    222
1832-12-01     58
1832-10-01     55
1870-03-01     53
1832-11-01     53
             ...
1994-02-01      1
1994-01-01      1
1993-12-01      1
1993-11-01      1
1902-12-01      1
Name: dt, Length: 2505, dtype: int64

In [8]:
len(df_country['Country'].unique())

243

In [9]:
df_country = df_country.dropna()

In [10]:
df_country.shape

(544811, 4)

In [11]:
countries = df_country['Country'].unique()